alias  ..="cd .."
alias ...="cd ../.."
alias  cl='clear'

alias   d="cd $HOME/Documents"
alias  dl="cd $HOME/Downloads"
alias  dt="cd $HOME/Desktop"
alias   p="cd $HOME/Projects"
alias  re="cd $HOME/Projects/Repos"
alias   g="git"
alias   h="history"
alias   j="jobs"
alias pod="perldoc"

alias   o="xdg-open"
alias  oo="xdg-open ."

alias  du='du -sh'
alias  df='df -h'

alias  ls='ls -F'
alias  ll='ls -la'
alias   l='less'
alias  gr='grep -Rni'
alias  nn='netstat -na'
alias  na='netstat -a'
alias  nr='netstat -nar'
alias  nt='nn -t'
alias  nu='nn -u'

alias pki='pkg_info'
alias pka='doas pkg_add'
alias pkd='doas pkg_delete'
alias pks=""

alias  pf='doas pfctl'

alias  gc='git clone'
alias  gl='git log'
alias  gb='git branch -a'
alias gco='git checkout'
