[user]
  name = Cesare Gargano
  email = gar@plusiagamma.com

[merge]
  tool = vimdiff

[core]
  editor = vim
  pager  = less
  whitespace = trailing-space,space-before-tab,indent-with-non-tab,cr-at-eol

[credential]
	helper = cache --timeout=3600
[github]
	user = garcer
