[user]
  name = Cesare Gargano
  email = gar@plusiagamma.com

[color]        
  ui = false
  branch = false
  diff = false
  interactive = false
  status = false
  log = false

[github]
  user = garcer
